# **TPOT**

In [13]:
import pandas as pd
import numpy as np

In [14]:
# Importing Excel file, calling the DataFrame comp_df
df = pd.read_csv('Final5', header=0, index_col=0)
# Checking import 
df.head(5)

,X1,X12_ABS,X13_ABS,X14_ABS,X15_ABS,X16_ABS,X17_ABS,X2,X3,X4,...,X15_M,X16_M,X17_M,X18_BI,X19_BI,X20_BI,X21_BI,X22_BI,X23_BI,Y
0,-1.869598,-0.758386,-0.785153,-1.088616,-1.579920,-1.541281,-1.483532,2,2,1,...,3,2,1,0,1,0,0,0,0,1
1,0.034263,-0.866772,-0.935035,-0.794573,-0.699341,-0.636680,-0.606347,2,2,2,...,3,2,1,0,1,1,1,0,1,1
2,-0.271418,0.116536,-0.233725,-0.216424,-0.139167,-0.067265,-0.007117,2,2,2,...,3,2,1,1,1,1,1,1,1,0
3,-0.895980,0.423406,0.476861,0.528327,0.227939,0.296254,0.345181,2,2,1,...,3,2,1,1,1,1,1,1,1,0
4,-0.895980,-0.482617,-0.597292,0.313576,0.054974,0.059507,0.098518,1,2,1,...,3,2,1,1,1,1,1,1,1,0

In [15]:

df = df.astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30000 entries, 0 to 29999
Data columns (total 36 columns):
X1         30000 non-null int64
X12_ABS    30000 non-null int64
X13_ABS    30000 non-null int64
X14_ABS    30000 non-null int64
X15_ABS    30000 non-null int64
X16_ABS    30000 non-null int64
X17_ABS    30000 non-null int64
X2         30000 non-null int64
X3         30000 non-null int64
X4         30000 non-null int64
X5_Bins    30000 non-null int64
X6_BI      30000 non-null int64
X7_BI      30000 non-null int64
X8_BI      30000 non-null int64
X9_BI      30000 non-null int64
X10_BI     30000 non-null int64
X11_BI     30000 non-null int64
X12_BI     30000 non-null int64
X13_BI     30000 non-null int64
X14_BI     30000 non-null int64
X15_BI     30000 non-null int64
X16_BI     30000 non-null int64
X17_BI     30000 non-null int64
X12_M      30000 non-null int64
X13_M      30000 non-null int64
X14_M      30000 non-null int64
X15_M      30000 non-null int64
X16_M      30000 non-null int64
X17_M      30000 non-null int64
X18_BI     30000 non-null int64
X19_BI     30000 non-null int64
X20_BI     30000 non-null int64
X21_BI     30000 non-null int64
X22_BI     30000 non-null int64
X23_BI     30000 non-null int64
Y          30000 non-null int64
dtypes: int64(36)
memory usage: 8.5 MB

In [16]:
df['Y'].value_counts()

0    23364
1     6636
Name: Y, dtype: int64

In [17]:
df_shuffle=df.iloc[np.random.permutation(len(df))]
df_reset=df_shuffle.reset_index(drop=True)
df_reset.head()

,X1,X12_ABS,X13_ABS,X14_ABS,X15_ABS,X16_ABS,X17_ABS,X2,X3,X4,...,X15_M,X16_M,X17_M,X18_BI,X19_BI,X20_BI,X21_BI,X22_BI,X23_BI,Y
0,1,-1,-1,-1,-1,0,0,1,1,1,...,3,2,1,1,1,1,1,1,1,0
1,1,0,0,0,0,0,0,1,1,1,...,3,2,1,1,1,1,1,1,1,1
2,-1,0,0,0,0,0,0,2,2,1,...,3,2,1,1,0,1,0,1,1,1
3,-1,0,0,0,0,0,0,2,3,1,...,3,2,1,1,1,0,1,0,1,0
4,0,0,0,0,0,0,0,1,3,2,...,3,2,1,1,1,1,1,1,0,0

In [18]:
df_class = df_reset['Y'].values

In [19]:
pd.isnull(df_reset).any()

X1         False
X12_ABS    False
X13_ABS    False
X14_ABS    False
X15_ABS    False
X16_ABS    False
X17_ABS    False
X2         False
X3         False
X4         False
X5_Bins    False
X6_BI      False
X7_BI      False
X8_BI      False
X9_BI      False
X10_BI     False
X11_BI     False
X12_BI     False
X13_BI     False
X14_BI     False
X15_BI     False
X16_BI     False
X17_BI     False
X12_M      False
X13_M      False
X14_M      False
X15_M      False
X16_M      False
X17_M      False
X18_BI     False
X19_BI     False
X20_BI     False
X21_BI     False
X22_BI     False
X23_BI     False
Y          False
dtype: bool

In [20]:
from sklearn.model_selection import train_test_split
training_indices, testing_indices = train_test_split(df_reset.index,
                                                        stratify = df_class,
                                                        train_size=0.75, test_size=0.25, random_state = 2019)

In [21]:
training_indices.size, testing_indices.size

(22500, 7500)

In [22]:
from tpot import TPOTClassifier
from tpot import TPOTRegressor

#tpot = TPOTClassifier(generations=5,verbosity=2)

#tpot.fit(df_reset.drop('Y',axis=1).loc[training_indices].values,
      #   df_reset.loc[training_indices,'Y'].values)

In [23]:
tpot = TPOTClassifier(verbosity=2, max_time_mins=2, max_eval_time_mins=0.04, population_size=20, generations=5, scoring='roc_auc')
tpot.fit(df_reset.drop('Y',axis=1).loc[training_indices].values, df_reset.loc[training_indices,'Y'].values)

HBox(children=(IntProgress(value=0, description='Optimization Progress', max=20, style=ProgressStyle(descriptiâ€¦

Generation 1 - Current best internal CV score: 0.7567618699583566
Generation 2 - Current best internal CV score: 0.7567618699583566
Generation 3 - Current best internal CV score: 0.7567618699583566

2.0161071 minutes have elapsed. TPOT will close down.
TPOT closed prematurely. Will use the current best pipeline.

Best pipeline: GaussianNB(DecisionTreeClassifier(input_matrix, criterion=entropy, max_depth=6, min_samples_leaf=20, min_samples_split=15))

TPOTClassifier(config_dict=None, crossover_rate=0.1, cv=5,
        disable_update_check=False, early_stop=None, generations=1000000,
        max_eval_time_mins=0.04, max_time_mins=2, memory=None,
        mutation_rate=0.9, n_jobs=1, offspring_size=None,
        periodic_checkpoint_folder=None, population_size=20,
        random_state=None, scoring='roc_auc', subsample=1.0,
        use_dask=False, verbosity=2, warm_start=False)

In [25]:
tpot.export('tpot_MAGIC_Gamma_Telescope_pipeline5.py')

True